@use "../../styles/partials/font" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/mixins" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AvenirNext LT Pro';
}

.content {
    padding: 24px 16px;

    @include tablet {
        padding: 36px 36px 24px;
    }

    @include desktop {
        max-width: 70%;
        padding: 24px 0 36px 12px;
    }

    h1 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        padding-bottom: 1rem;

        @include tablet {
            font-size: 33px;
            font-weight: 700;
            line-height: 44px;
            padding-bottom: 0.7rem;
        }
    }

    &__subflex {
        font-size: 13px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        border-top: 1px solid $secondary-silver;
        border-bottom: 1px solid $secondary-silver;
        gap: 5rem;

        @include tablet {
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 0.8rem;
            border-top: none;
            border-bottom: 1px solid $secondary-silver;
        }

        @include desktop {
            padding-right: 36px;
        }


        &--flexleft {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;


            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
            }

            p {
                color: $primary-silver;
            }
        }

        &--flexright {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;


            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 2rem;
            }

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;
                color: $primary-silver;

                @include tablet {
                    align-items: center;
                    gap: 0.5rem;
                }

                #viewIcon {

                    @include tablet {
                        width: 21px;
                        height: 21px;
                    }
                }

                img {

                    @include tablet {
                        width: 17px;
                        height: 17px;
                    }
                }
            }

        }

    }

    &__description {
        padding: 1rem 0;
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;

        @include tablet {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }
    }

    .comments {

        h4 {
            font-size: 13px;
            line-height: 18px;
            font-weight: 700;
            padding-bottom: 1rem;

            @include tablet {
                font-size: 14px;
                line-height: 22px;
                font-weight: 700;
                padding-bottom: 0;
            }
        }

        &__container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 1rem;

            @include tablet {
                margin-top: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid $secondary-silver;
            }

            @include desktop {
                padding-left: 0.5rem;
                padding-right: 36px;
            }


            img {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                object-fit: cover;
                object-position: 20% 50%;
                margin-top: 1rem;


                @include tablet {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: 20% 50%;
                    margin-top: 1.3rem;
                }
            }


            &--form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                @include tablet {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 1.5rem;
                }
            }

            &--subflex {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                label {
                    width: 100%;
                    font-size: 13px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: $primary-silver;
                    font-weight: 700;

                    @include tablet {
                        width: 100%;
                        font-size: 13px;
                        text-transform: uppercase;
                        color: $primary-silver;
                        font-weight: 700;
                        margin-bottom: 0.2rem;
                    }
                }

                input {
                    width: 100%;
                    padding: 0.8rem 0.8rem 4.5rem;
                    background-color: rgba(225, 225, 225, 0.15);
                    border: 1px solid $secondary-silver;
                    border-radius: 5px;

                    @include tablet {
                        width: 100%;
                        padding: 0.7rem 1rem;
                        background-color: rgba(225, 225, 225, 0.2);
                        border: 1px solid $secondary-silver;
                        border-radius: 5px;
                    }

                    &::placeholder {
                        color: $secondary-black;
                        font-size: 12px;
                        line-height: 18px;
                        font-weight: 400;

                        @include tablet {
                            color: $secondary-black;
                            font-size: 12px;
                        }
                    }
                }
            }

            button {
                margin-top: 1.4rem;
                padding: 0.7rem 4rem;
                position: relative;
                font-size: 12px;
                width: 100%;
                color: $primary-white;
                text-transform: uppercase;
                background-color: $primary-blue;
                border: none;
                border-radius: 4px;

                &:hover {
                    background-color: $secondary-blue;
                }

                @include tablet {
                    margin-top: 1.4rem;
                    padding: 0.81rem 4rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    color: $primary-white;
                    text-transform: uppercase;
                    background-color: $primary-blue;
                    border: none;
                    border-radius: 5px;
                    width: 158px;
                }

                img {

                    width: 18.5px;
                    height: 18.5px;
                    position: absolute;
                    left: 0.57rem;
                    bottom: 0.57rem;

                    @include tablet {
                        position: absolute;
                        left: 10px;
                        bottom: 0.76rem;
                    }
                }
            }
        }
    }
}