@use "../../styles/partials/font" as *;
@use "../../styles/partials/variable" as *;
@use "../../styles/partials/mixins" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AvenirNext LT Pro';
}

.content {
    padding: 36px;

    h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 36px;
        padding-bottom: 2.5rem;
    }

    &__subflex {
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        border-bottom: 1px solid $primary-silver;


        &--flexleft {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;

            p {
                color: $primary-silver;
            }
        }

        &--flexright {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.8rem;
                color: $primary-silver;

                #viewIcon {
                    width: 38px;
                    height: 38px;
                }

                img {
                    width: 28px;
                    height: 28px;
                }
            }

        }

    }

    &__description {
        font-size: 25px;
        font-weight: 400;
        line-height: 36px;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .comments {

        &__container {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid $primary-silver;


            img {
                width: 46.9px;
                height: 46.9px;
                border-radius: 50%;
                margin-top: 1.3rem;
                object-fit: cover;
                object-position: 20% 50%;
            }


            &--form {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 1.5rem;
            }

            &--subflex {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                label {
                    width: 100%;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: $primary-silver;
                    font-weight: 400;
                }

                input {
                    width: 100%;
                    padding: 1.2rem;
                    background-color: rgba(225, 225, 225, 0.3);
                    border: 1px solid $primary-silver;
                    border-radius: 7px;

                    &::placeholder {
                        color: $secondary-black;
                        font-size: 18px;
                    }
                }
            }

            button {
                margin-top: 1.4rem;
                padding: 1rem 4rem;
                position: relative;
                font-size: 20px;
                color: $primary-white;
                text-transform: uppercase;
                background-color: $primary-blue;
                border: none;
                border-radius: 7px;

                img {
                    width: 32px;
                    height: 32px;
                    position: absolute;
                    left: 15px;
                    bottom: 0.8rem;
                }
            }
        }
    }
}