@use "./styles/partials/font" as *;
@use "./styles/partials/variable" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'AvenirNext LT Pro';
}

.root {
    // @include desktop {
    //     max-width: 1280px;
    //     margin: auto;
    // }

    &-desktopflex {

        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            max-width: 1280px;
            margin: auto;
        }
    }
}